body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: rgb(154, 148, 148);
    padding: 20px;
    border-radius: 10px;
}
.first ,.final{
    text-align: center;
}
#result{
    font-size: 30px;;
}