*{
    margin: 0;
}
body{
    background-color: rgb(247, 243, 243);
}
.container{
    display: inline-block;
    cursor: pointer;
    border: solid rgb(253, 243, 243);
    border-radius: 10px;
}
.box{
    display: inline-block;
    margin-left: 5px;
}
.container:hover{
    background-color: white;
    border-color: white;
}
.img{
    height: 250px;
    width: auto;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
}
.resturant_name{
    font-size:medium;
    font-weight: bold;
}
.rating{
    position:absolute;
    background-color: rgb(24, 181, 24);
    color: aliceblue;
    border-radius: 5px;
    height: 19px;
    width: 30px;
    right: 5px;
    bottom: 2px;
}
.food, .price, .area{
    color: rgb(122, 120, 120);
    margin-top: 4px;
    font-size: small;
}
.price , .distance{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.distance{
    font-size: small;
    font-weight: bold;
}
.resturant , .food_type, .location{
    position: relative;
}
/* .off{
    font-size: 30px;
    color: white;
    background-color: rgba(218, 43, 16, 0.6);
    position: absolute;
    bottom: 20px;
    left: 10px;
    border-radius: 5px;
} */
.head{
    margin-left: 50px;
}
.zamato{
    margin-left: 25px;
    color:black;
}
.log , .sign{
    color: grey;
}
.search{
    margin-left: 75px;
}
.log{
    margin-left: 150px;
}
.second{
    position:relative;
    background-color: antiquewhite;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dining,.delivery, .nightfair{
    display: inline-block;
    margin-top: 25px;
}
.delivery, .nightfair{
    margin-left: 85px;
}
.dine, .del,.nig {
    display: inline-block;
    margin-left:10px;
}
.din_img,.del_img, .night_img{
    background-color: white;
}