header {
    background-color: chartreuse;
}
#first_h {
    color: aliceblue;
}
#sec_h {
    color: darkorange;
}
section{
    background-color:floralwhite;
}
#second_s {
    color:blue;
}
#third_s {
    color: blueviolet;
}
