body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(31, 28, 28)
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: rgba(85, 38, 118, 0.6);
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 3px 3px 5px #daa520;
}
.card{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    border-radius: 5px;
}