 body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, violet,rgb(126, 63, 162));
}
.container{
    background-color: rgba(159, 112, 173 , 0.7);
    padding: 25px;
    color: white;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 4px 4px 4px rgb(126, 63, 162);
    cursor: pointer;
}
.cell{
    width: 250px;
    height: 15px;
    border: solid 1px black;
    box-shadow: 2px 2px 2px wheat;
    cursor: pointer;
}
.info{
    font-size: small;
    font-weight: lighter;
}
.name{
    color: black;
    font-size: larger;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
button{
    text-align: center;
    width: 260px;
    height: 25px;
    background-color: rgb(202, 56, 231);
    border-radius: 5px;
    border: solid 1px black;
    color: white;
    box-shadow: 2px 2px 2px wheat;
    cursor: pointer;
    margin-bottom: 10px;
}
button:active{
    transform: scale(0.9);
} 
.img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}