body{
    background-color:black ;
}
.name{
    color: white;
    font-style:oblique;
}
pre{
    font-family:'Times New Roman', Times, serif;
}
.prot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    margin-top: 50px;
}
.head{
    display: flex;
    background-color:rgb(66, 233, 239);
}
.left{
    color:black;
    margin-left: 50px;
}
.right{
    margin-left: 360px;
    margin-top: 25px;
}
.more{
    color: black;
    background-color:rgb(66, 233, 239);
    margin-left: 120px;
    padding: 8px;
    font-weight: bolder;
    font-size: 14px;
}
.tag{
    color: black;
}
button{
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px wheat;
}