body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: rgb(24, 24, 24);
    height: 450px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px goldenrod;
    border: 1px solid whitesmoke;
}
.inner{
    margin-top: 15px;
}
.in{
    margin: 25px;
}
.ele{
    margin-left: 15px;
    box-shadow: 1.5px 1.5px 3px 0px goldenrod;
    color: white;
    cursor: pointer;
}

button{
    width: 30px;
    height: 30px;
    background-color: black;
    color: wheat;
    border-radius: 50%;
    border: none;
}
#op{
    color: green;
}
#inputbox{
    background-color: black;
    color: white;
    border: 1px solid white;
    height:150px;
    width: 400px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 15px;
    font-size: 40px;
}
button:active {
    background-color: goldenrod;
    color: white;
    transform: scale(1.5);
  }
  .r::placeholder {
    text-align: right;   /* You can also use left, center */
    color: gray;         /* Optional: customize color */
  }
  .r {
    padding-left: 5px;  /* Moves the text (and placeholder) right */
  }
  